<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <a [routerLink]="['/auth/login']" class="btn btn-secondary btn-lg">
            <i class="bi bi-arrow-left"></i>
          </a>
          <h3 class="text-center title">Restore password</h3>
          <form
            (ngSubmit)="restorePassword()"
            [formGroup]="restorePasswordForm"
          >
            <div class="mb-3">
              <input
                formControlName="password"
                type="password"
                name="password"
                id="password"
                class="form-control form-control-lg"
                placeholder="Enter your new passsword"
              />
              <span
                class="text-danger ms-2"
                *ngIf="
                  restorePasswordForm.get('password')?.hasError('required') &&
                  restorePasswordForm.get('password')?.touched
                "
              >
                Password <strong>is required</strong>
              </span>
              <span
                class="text-danger ms-2"
                *ngIf="
                  restorePasswordForm.get('password')?.hasError('minlength')
                "
              >
                Password should contain 8 characters
              </span>
            </div>
            <div class="mb-3">
              <input
                formControlName="confirmPassword"
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                class="form-control form-control-lg"
                placeholder="Confirm your password"
              />
              <span
                class="text-danger ms-2"
                *ngIf="
                  restorePasswordForm
                    .get('confirmPassword')
                    ?.hasError('required') &&
                  restorePasswordForm.get('confirmPassword')?.touched
                "
              >
                Password <strong>is required</strong>
              </span>
              <span
                class="text-danger ms-2"
                *ngIf="
                  restorePasswordForm.get('confirmPassword')?.touched &&
                  restorePasswordForm.hasError('notSame')
                "
              >
                Passwords must be the same
              </span>
            </div>
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                [disabled]="restorePasswordForm.invalid"
                class="btn btn-primary btn-lg"
              >
                Restore
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
