<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <a [routerLink]="['/auth/login']" class="btn btn-secondary btn-lg">
            <i class="bi bi-arrow-left"></i>
          </a>
          <h3 class="text-center title">Recovery password</h3>
          <form
            (ngSubmit)="recoveryPassword()"
            [formGroup]="recoveryPasswordForm"
          >
            <div class="mb-3">
              <input
                formControlName="email"
                type="email"
                name="email"
                id="email"
                class="form-control form-control-lg"
                placeholder="Enter your email adress"
              />
              <span
                class="text-danger ms-2"
                *ngIf="
                  recoveryPasswordForm.get('email')?.hasError('required') &&
                  recoveryPasswordForm.get('email')?.touched
                "
              >
                Email <strong>is required</strong>
              </span>
              <span
                class="text-danger ms-2"
                *ngIf="recoveryPasswordForm.get('email')?.hasError('email')"
              >
                Email <strong>is invalid</strong>
              </span>
            </div>
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                [disabled]="recoveryPasswordForm.invalid"
                class="btn btn-primary btn-lg"
              >
                Accept
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
