<app-spinner *ngIf="isLoading" class="container-home"></app-spinner>
<div *ngIf="!isLoading" class="container-home">
  <div class="fixed-top text-center text">
    Select questionnaires
    <a [routerLink]="['/codes']" class="link">here</a>
  </div>
  <div *ngIf="isErrorPIN" class="alert alert-danger" role="alert">
    <strong>Please introduce a PIN</strong>
  </div>
  <input
    type="text"
    class="form-control input-in mb-3"
    placeholder="Enter a PIN"
    [(ngModel)]="pin"
  />

  <button
    (keyup.enter)="EnterCode()"
    (click)="EnterCode()"
    type="button"
    class="btn-in button-primary"
  >
    Start
  </button>
</div>
<div class="fixed-bottom text-center text">
  Create a game
  <a [routerLink]="['/user/login']" class="link">here</a>
</div>
